body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  /* flex-direction: column; */
  align-items: stretch;

  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

#app > canvas {
  width: 50vw;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}